<div class="bg-[#F8F8F8]">
    <div
        class="bg-[#F8F8F8] h-[100vh] py-[7rem] max-[768px]:py-[5rem]  xl:w-[1200px] px-[1rem] sm:w-full mx-auto md:w-[1000px] max-[640px]:py-[2rem]">
        <div class="grid grid-cols-2 max-[768px]:grid-cols-1 items-center">
            <div class="w-full border-r-2 border-red-500 max-[768px]:hidden">
                <img class="max-w-[25rem] mx-auto" src="/img/pizza.png" alt="login pizza" srcset="">
            </div>
            <div class="w-full space-y-6">
                <div class="max-w-md mx-auto">
                    <div>
                        <a href="/">
                            <img class="mx-auto h-12 w-auto" src="/img/logo.png" alt="form" srcset="">
                        </a>
                        <h2 class="text-center text-2xl font-extrabold capitalize mt-4 max-[640px]:text-xl">{{#if
                            isForgetPassword}}Reset your Password {{else }}SignIn into your account {{/if}}</h2>
                        {{#if messages.success}}
                        <div id="successRegistered" class="text-green-600 font-bold text-center text-[12px]">
                            {{messages.success}}
                        </div>
                        {{/if}}
                        {{#if messages.error}}
                        <div id="errorMessage" class="text-red-600 font-bold text-center text-[12px]">
                            {{messages.error}}
                        </div>
                        {{/if}}
                    </div>
                    <form class="mt-4 space-y-6" action= {{#if isForgetPassword}}'/forget-password' {{else }}"/login" {{/if }} method="POST" id="loginForm">
                        <div class=" {{#if isForgetPassword}} mt-4 mb-1 {{else }} my-4 {{/if }}">
                            <input
                                class="w-full px-3 py-2 border border-grey-300 placeholder-grey-500 rounded-md focus:outline-none focus:z-10 focus:border-[#FE5F1E]"
                                type="email" name="email" placeholder="Email Address">
                        </div>
                        {{#if isForgetPassword}}
                        {{else }}
                        <div class="my-4">
                            <input
                                class="w-full px-3 py-2 border border-grey-300 placeholder-grey-500 rounded-md focus:outline-none focus:z-10 focus:border-[#FE5F1E]"
                                type="password" name="password" placeholder="Password">
                        </div>
                        {{/if}}

                    </form>
                    <div
                        class=" font-xs text-[#FE5F1E] font-bold {{#if isForgetPassword}} mb-4 {{else }} my-4 {{/if }} flex justify-between items-center text-[13px] max-[640px]:text-[12px]">
                        {{#if isForgetPassword }}

                        <a href="/login"> Click to login</a>
                        {{else }}
                        <a href="/forget-password"> forget password?</a>
                        {{/if }}
                        <a href="/register">Don't have an account?</a>
                    </div>
                    <div>
                        <button class="w-full bg-[#FE5F1E] py-2 px-4 text-white rounded-md shadow-xl" id="loginBtn">
                            {{#if isForgetPassword}} Reset Password
                            {{else }} Login {{/if}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>