<section class="tracking-status xl:w-[1200px] mx-auto px-[1rem]">
    <div class="grid grid-cols-2 my-6 py-4 justify-items-end">
        <div>
            <h1 class="font-bold capitalize text-xl">
                products in your order
            </h1>
            <div class="flex items-center py-6"> {{#each orders }}
                <img class="w-3/12 pr-2" src="/img/{{ this.item.image }}" alt="" srcset="">
                 {{/each  }}
            </div>
        </div>
        <div>
            <h2 class="font-bold text-[12px]">Order #{{order_id}}</h2>
            <div class="text-[13px]"><span class="font-bold">Date Ordered :</span> <span class="text-xs tracking-[1px]">{{getDateFormat order_date}}</span></div>
            <div class="text-[13px]"><span class="font-bold">Actual Status :</span> <span class="text-xs text-[#FE5F1E] font-bold current_status relative" >{{ orderStatus order_Status}}<span id="statusBlink" class="status absolute top-px inline-block w-[12px] h-[12px] rounded-full bg-[#FE5F1E] ml-2"></span></span></div>

        </div>

    </div>
    
        <input type="hidden" value="{{JSON2String complete_data}}" id="singleOrderedData">
    <div class="flex justify-between">
        <div class="order-tracking completed">
            <span class="is-complete"></span>
            <p  class="order-status" data-status="order_placed">Order Received<br></p>
        </div>
        <div class="order-tracking completed">
            <span class="is-complete"></span>
            <p  class="order-status" data-status="order_confirmed">Order Confirmed<br></p>
        </div>
        <div class="order-tracking">
            <span class="is-complete"></span>
            <p  class="order-status" data-status="in_the_kitchen">In the Kitchen<br></p>
        </div>
        <div class="order-tracking">
            <span class="is-complete"></span>
            <p  class="order-status"  data-status="begin_packed">Begin Packed<br></p>
        </div>
        <div class="order-tracking">
            <span class="is-complete"></span>
            <p  class="order-status" data-status="out_for_delivery">Out For Delivery<br></p>
        </div>
        <div class="order-tracking">
            <span class="is-complete"></span>
            <p class="order-status" data-status="delivered">Order completed<br></p>
        </div>
    </div>


    <div class="flex justify-between my-4">
        <div class="order-trackings completed">
            <span class="is-completed"></span>
        </div>
         <div class="order-trackings completed">
            <span class="is-completed"></span>
        </div>
         <div class="order-trackings">
            <span class="is-completed"></span>
        </div>
    </div>

</section>